<main>
  <section class="form-section">
    <img src="/assets/svg/Imagem1.svg">
    <h2>{{tittle}}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
        <button class="btn-primary">{{primaryBtnText}}</button>
        <div class="divider">
          <div></div>
          <span> or </span>
          <div></div>
        </div>
        <button class="btn-secondary">{{secondaryBtnText}}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>You Should, MoveIt</h1>
    <img src="/assets/svg/Imagem2.svg">
  </section>
</main>
